DesertionWarnings.Enabled = 1
DesertionWarnings.WarningText = "ADVERTENCIA: Fuiste invitado a unirte a un campo de batalla pero no lo hiciste. Tu equipo está en desventaja debido a esto. Aquí está su recordatorio de que DEBE unirse a cualquier campo de batalla al que esté invitado. Si no desea unirse a un campo de batalla, debe retirarse de la cola ANTES de que comience el campo de batalla. Esto ayuda a mantener los campos de batalla de Aman'Thul más equilibrados y justos. Esta acción ha sido registrada. La manipulación o abuso reiterado está sujeto a sanción."
